*{
    padding:0px 0px;
    margin: 0px 0px;
}

body{
    background-color: rgb(201, 163, 197);
}

.main{
    position: relative;
    background-color: rgb(176, 194, 188);
    height: 400px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border: 2px solid rgb(179, 159, 198);
    border-radius: 20px;
}

#longurl{
    position: relative;
    top: 40%;
    left: 10%;
    height: 40px;
    width: 296px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#shorten{
    position: relative;
    top: 40%;
    left: 12%;
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    color: white;
    background-color: purple;
}

#shorten:hover{
    background-color: rgb(169, 169, 147);
}

#shorturl{
    position: relative;
    top: 45%;
    left: 10%;
    height: 40px;
    width: 296px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#copy{
    position: relative;
    top:46%;
    left: 0%;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    color: aliceblue;
    background-color: purple;
}
#copy:hover{
    background-color: rgb(169, 169, 147);
}

.main p{
    /*background-color: beige;*/
    position: relative;
    top: 20%;
    left: 10%;
    height: 40px;
    width: 400px;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(147, 130, 158);

}